PORT=3333
NODE_ENV=development
JWT_SECRET=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_STORAGE_BUCKET=bioapp-pdfs
GOOGLE_CLIENT_ID=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
AI_API_KEY=
FRONTEND_URL=app://bioapp
EMAIL_USER=
EMAIL_PASS=
